.formmaking {
   border-radius: 25px;
   border: 2px;
   border-color: blue;
   height: 579px;
   width: 400px;
   border-style: solid;
   margin: auto;
   text-align: center;
}

.dfg{
text-align: left;


}